@import '../../../scss/variables';
@import '../../../scss/mixins';

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 18px;
  box-shadow: 0 5px 15px 0 rgb(37 44 97 / 15%), 0 2px 4px 0 rgb(93 100 148 / 20%);
  // width: 100%;
  border: 1px solid transparent;
  transition: all .30s ease-in-out;
  &:hover {
    border: 1px solid #cccaca;
  }
  img {
    width: 100%;
    height: 180px;
    object-fit: contain;
  }
  .name {
    padding-top: 40px;
    font-size: 18px;
    text-align: left;
    color: #020202;
    font-weight: 700;
    height: 94px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  .quentity {
    font-size: 14px;
    color: #020202;
    padding-top: 20px;
  }
  .price {
    font-size: 16px;
    color: #40ac56;
  }
  .button-block {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    button {
      height: 32px;
      font-size: 14px;
      color: #fff;
      background-color: #ffc006;
      border-radius: 5px;
      padding: 0 12px;
      border: 0;
      margin-right: auto;
      max-width: 100px;
      &.cart-added {
        background-color: #40ac56;
      }
    }
    .plus, .minus {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      height: 32px;
      width: 32px;
      border: 1px solid #ffc006;
      cursor: pointer;
      img {
        width: 12px;
        height: 12px;
      }
    }
    .minus {
      margin-left: 12px;
    }
    .text {
      width: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 12px;
    }
  }
}
