// @import '../../../scss/variables';
// @import '../../../scss/mixins';

.main-footer {
	position: relative;
	//margin-top: 80px;
	background: #090d1f;
	overflow: hidden;
	color: #fff;
	.content-wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 50px;
	}
	
}