// @import '../../../scss/variables';
// @import '../../../scss/mixins';

.main-footer {
	position: relative;
	//margin-top: 80px;
	background: #090d1f;
	overflow: hidden;
	color: #fff;
	padding: 50px 150px 50px 150px;
	
	.content-wrapper{
		display: flex;
		justify-content: space-between;
		// align-items: center;
		
		
	}

	.social-icons {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		// margin-top: -45px;
		p {
			font-size: 10px;
			color: #cececd;
		}
		a {
			img {
				height: 14px;
				margin-right: 20px;
			}
			&:nth-child(4) {
				img {
					height: 20px;
				}
			}
		}
	}

	.copyright-section{
		display: flex;
	
		justify-content: start;
		border-top: 1px solid white;
		align-items: center;
	
		
		
	}
	.company-section{
		display: flex;
		flex-direction: column;
	}
	
}