.top-header-wrapper {
	width: 100%;
	background-color: #2b304c;
	.top-header-block {
		height: 35px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		p {
			font-size: 12px;
			color: #fff;
			margin-left: 20px;
			padding-left: 20px;
			border-left: 1px solid #fff;
			&:first-child {
				border-left: none;
		   }
		}
		
	}
	.top-header-social {
		img{
			height: 14px;
			margin-left: 15px;
		}
	}
	.info-blog {
		display: flex;
		img {
			margin-right: 10px;
		}
	}
}

/* 
##Device = Smart Phone (portrait)
##Screen = B/w 321px to 600px
*/
@media only screen and (max-width: 600px) {
	.top-header-wrapper  {
		display: none;
	}
}